@model IEnumerable<Conocimiento.Areas.TestConocimiento.Models.RespuestaTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PreguntaTest.Pregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correcta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PreguntaTest.Pregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correcta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RespuestaTestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RespuestaTestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RespuestaTestId })
        </td>
    </tr>
}

</table>
